<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alisgram">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Alisgram"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfilBaska"
            android:parentActivityName=".Profil"/>

        <activity
            android:name=".KayitEkrani"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".AnasayfaPopupActivity"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".ProfilAliskanlikGuncelle"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profil"
            android:label="@string/title_activity_profil"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <service
            android:name=".BildirimServisi"
            android:exported="false" />

        <receiver
            android:name=".BootReceiver"
            android:process=":remote" />
    </application>

</manifest>